DEV_DB_URL=jdbc:postgresql://db:5432/testdb
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=postgres

JWT_SECRET=generate-a-long-random-string-here
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=1209600000

CLOUDINARY_NAME=your-name
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret